$main-color: #ff2d3b;
#orderDetail {
    .card {
        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                display: flex;
                align-items: center;
                font-size: 16px;
                i {
                    margin-right: 10px;
                    font-size: 22px;
                }
            }
        }
        .card-body {
            .reference-detail {
                .reference {
                    color: $main-color;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    margin-bottom: 10px;
                    &:after {
                        display: block;
                        content: "";
                        height: 1px;
                        width: 500px;
                        border-bottom: 1px dashed #3c4b64;
                    }
                }
                .group-shop {
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    .nav-bar {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px;
                        border-bottom: 1px solid #ddd;
                        h5 {
                            margin:0px;
                        }
                    }
                    .table {
                        margin: 0px;
                        .header, .body {
                            display: flex;
                            border-bottom: 1px solid #ddd;
                            align-items: center;
                            background: #f1f1f1;
                            .detail {
                                padding: 5px 12px;
                            }
                        }
                        .body {
                            background-color: #fff;
                            align-items: flex-start;
                            &:last-child {
                                border-bottom: transparent;
                                border-bottom-left-radius: 5px;
                                border-bottom-right-radius: 5px;
                            }
                            .check {
                                border-right: transparent;
                            }
                            .detail {
                                display: flex;
                                width: 100%;
                                .thumbnail {
                                    width: 80px;
                                    margin-right: 10px;
                                    img {
                                        width: 100%;
                                    }
                                }
                                .product-detail {
                                    display:flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    width: 100%;
                                    h3 {
                                        font-size: 15px;
                                        margin: 0px;
                                    }
                                    .footer {
                                        display: flex;
                                        justify-content: space-between;
                                        margin-bottom: 10px;
                                        span {
                                            display: block;
                                            &.address {
                                                color: #888;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}