/* reset */
label.is-invalid.error {
    font-size: 11px !important;
    font-weight: normal !important;
}
.bootstrap-tagsinput {
    width: 100% !important;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background: #313e54;
    padding: 1px 8px;
    border-radius: 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "\f00d" !important;
    font-family: FontAwesome;
}

table.dataTable.no-footer,
table.dataTable thead th,
table.dataTable thead td {
    border-bottom: transparent !important;
}
.card-toolbar {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.card-toolbar .dropdown-toggle {
    color: #3c4c64;
}
.card-toolbar .dropdown-toggle::after {
    margin-left: 10px !important;
}

.card-toolbar .dropdown-menu {
    margin: 5px 0px !important;
    padding: 0px;
    min-width: 150px;
}

.card-toolbar .dropdown-menu .dropdown-item.active {
    color: #303d54 !important;
    font-weight: bold !important;
    background: #ebedef !important;
}
.card-toolbar .date-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-toolbar .date-toolbar label {
    margin-bottom: 0px;
    margin-right: 10px;
}

.card-toolbar .card-footer-toolbar {
    display: flex;
    align-items: center;
}
.card-toolbar .card-footer-toolbar .button {
    margin-left: auto;
}
.error {
    margin-top: 2px;
    color: red;
    font-size: 11px;
    font-weight: bold;
    margin-left: 5px;
}
.add-item .row {
    margin-left: 0px;
    margin-right: 0px;
}

.b-card {
    display: block;
    border: 1px solid #303d54;
    border-radius: 5px;
    margin-bottom: 15px;
}
.b-card .b-header {
    display: flex;
    background: #303d54;
    color: #fff;
    padding: 12px 1.25rem;
    align-items: center;
}
.b-card .b-header.collapsed::after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-size: 19px;
}
.b-card .b-header::after {
    content: "\f0d8";
    font-family: FontAwesome;
    margin-left: auto;
    font-size: 19px;
}

.b-card .b-header h5 {
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.b-card .b-body {
    padding: 1.25rem;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}
.btn-sm .btn-label {
    left: -8px;
}
.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}
