#purchase .basic {
    background: #ddd;
    padding: 14px;
    display: flex;
    align-items: center;
    font-size: 16px;
    border: 1px solid #ddd;
}
#purchase #basic {
    position: sticky;
    top: 103px;
    z-index: 999;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 6px 0px #ddd;
}

#purchase #basic .address {
    padding: 14px;
    background: #fff;
}

#purchase .basic span:nth-child(2) {
    margin-left: auto;
}
#purchase #product-detail {
    position: relative;
    border: 1px solid #ddd;
    margin-top: 5px;
    padding: 14px;
    overflow: hidden;
}

#purchase .number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -10px;
    top: -10px;
    background: #303d55;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    height: 50px;
    width: 50px;
    border-bottom-left-radius: 50px;
}
#purchase .product-detail {
    /* padding: 14px 14px; */
    display: flex;
}

#purchase .product-detail .thumbnail {
    width: 140px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#purchase .product-detail .thumbnail img {
    width: 100%;
    border-radius: 5px;
}
#purchase .product-detail .product {
    display: block;
    width: 100%;
}
#purchase .product-detail .product-description {
    display: flex;
    align-self: center;
}
#purchase .product-detail .product-description span {
    margin-right: 10px;
}
#purchase .product-detail .product-description span.right {
    display:block;
    margin-left: auto;
}


#purchase .trackings .header {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}

#purchase .trackings .header h6 {
    margin: 0px;
}

#purchase .trackings .header .button {
    margin-left: auto;
}
