.breadcrumb {
    background-color: transparent !important;
}
.btn.btn-labeled {
    padding: 0px 12px !important;
}

#commentTab,
#settingTab {
    margin-bottom: 10px;
    a.active {
        background: #303d54;
        border-radius: 30px;
        color: #fff;
        padding: 7px 16px;
        &:hover {
            background: #3c4c64;
        }
    }
}
// Profile settings reset
.profile-settings {
    .nav-link {
        padding: 5px;
        color: #303d55;
        &.active {
            font-weight: 700;
        }
    }
    .breadcrumb {
        padding: 0px 0px 10px 0px !important;
        border-radius: 0px !important;
        a {
            color: #303d55;
        }
    }
    .form-group {
        label {
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
}
.seller-profile {
    position: relative;
    height: 380px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px #aaa;
    @include media-breakpoint-down(lg) {
        height: 310px;
    }
    @include media-breakpoint-down(xs) {
        height: 185px;
    }
    .cover {
        border-bottom: 1px solid #ddd;
        .background-profile {
            position: relative;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 300px;
            background: #ddd;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            a {
                display: none;
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 10px;
                padding: 5px 10px;
                background: #2d3544;
                border-radius: 5px;
                color: #fff;
                @include media-breakpoint-down(xs) {
                    display: block;
                }
            }
            @include media-breakpoint-down(lg) {
                height: 251px;
            }
            @include media-breakpoint-down(xs) {
                height: 115px;
            }
        }
    }
    .shop-profile {
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: 0px 60px;
        display: flex;
        align-items: center;
        @include media-breakpoint-down(lg) {
            padding: 0px 30px;
            bottom: 0px;
        }
        @include media-breakpoint-down(xs) {
            padding: 0px 10px;
            flex-direction: column;
            position: relative;
            bottom: 50px;
        }
        .avatar {
            position: relative;
            z-index: 2;
            padding-bottom: 10px;
            .avatar-image {
                border: 2px solid #fff;
                box-shadow: 0px 0px 5px 0px #aaa;
                position: relative;
                height: 180px;
                width: 180px;
                background: #ddd;
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 100%;
                overflow: hidden;
                @include media-breakpoint-down(lg) {
                    height: 120px;
                    width: 120px;
                }
                @include media-breakpoint-down(xs) {
                    height: 80px;
                    width: 80px;
                }
                .upload {
                    visibility: hidden;
                    opacity: 0;
                    box-shadow: 0px -1px 6px 0px #aaa;
                    color: #fff;
                    font-size: 11px;
                    position: absolute;
                    bottom: -5px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background: #303d54;
                    padding: 10px 10px 20px 0px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include media-breakpoint-down(xs) {
                        padding: 5px 0px 10px 0px;
                        span {
                            display: none;
                        }
                    }
                    i {
                        margin-right: 5px;
                        @include media-breakpoint-down(xs) {
                            margin-right: 0px;
                        }
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                &:hover {
                    .upload {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
        .group-menu {
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            margin-left: 30px;
            padding-top: 50px;
            @include media-breakpoint-down(lg) {
                padding-top: 30px;
            }
            @include media-breakpoint-down(xs) {
                padding-top: 0px;
                margin-left: 0px;
                padding: 10px;
                position: absolute;
                bottom: -22px;
            }
            .top {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                @include media-breakpoint-down(xs) {
                    justify-content: flex-start;
                }
                h3 {
                    text-shadow: 1px 1px 1px black;
                    font-size: 35px;
                    color: #ffffff;
                    margin: 0px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 500px;
                    @include media-breakpoint-down(lg) {
                        font-size: 30px;
                        width: 300px;
                    }
                    @include media-breakpoint-down(xs) {
                        width: 120px;

                        font-size: 16px;
                    }
                }
                a {
                    display: block;
                    position: relative;
                    font-size: 12px;
                    margin-left: auto;
                    padding: 7px 12px;
                    background: #2d3544;
                    border-radius: 5px;
                    color: #fff;
                    &:hover {
                        background: #1b212b;
                        text-decoration: none;
                    }
                    @include media-breakpoint-down(xs) {
                        display: none;
                    }
                }
            }
            .bottom-tab {
                height: 80px;
                display: flex;
                align-items: center;
                margin-top: 10px;
                @include media-breakpoint-down(lg) {
                    height: 50px;
                }
                @include media-breakpoint-down(xs) {
                    margin-top: 55px;
                    height: 0px;
                }
                ul {
                    display: flex;
                    @include media-breakpoint-down(xs) {
                        width: 100%;
                    }
                    li {
                        flex-grow: 4;
                        margin-right: 50px;
                        @include media-breakpoint-down(lg) {
                            margin-right: 30px;
                        }
                        @include media-breakpoint-down(xs) {
                            margin-right: 0px;
                        }
                        a {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #585858;
                            font-size: 16px;
                            padding: 27px 0px;
                            @include media-breakpoint-down(lg) {
                                font-size: 14px;
                            }
                            @include media-breakpoint-down(xs) {
                                font-size: 12px;
                            }
                            i {
                                display: block;
                                margin-right: 5px;
                                // @include media-breakpoint-down(xs) {
                                //     display: none;
                                // }
                            }
                            span {
                                position: absolute;
                                top: 15px;
                                color: #fff;
                                right: -15px;
                                @include media-breakpoint-down(xs) {
                                    right: 3px;
                                }
                            }
                            &:hover,
                            &.active {
                                text-decoration: none;
                                color: #303d54;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

.file_upload {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    &:hover {
        cursor: pointer;
    }
}
