.shop-form {
    .avatar {
        .img {
            width: 150px;
            height: 150px;
            margin-bottom: 5px;
            img {
                width: 100%;
                border-radius: 5px;
            }
        }
    }
    .images {
        .header {
            display: flex;
            align-items: center;
            .details {
                .help-block {
                    font-size: 14px;
                    color: #aaa;
                }
            }
        }
    }
    .sortable {
        .img {
            position: relative;
            width: 100%;
            margin-bottom: 10px;
            .tool {
                display: none;
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
            &:hover > .tool {
                display: block;
            }
            span.number {
                position: absolute;
                right: 10px;
                top: 10px;
                font-weight: 700;
                font-size: 14px;
                background: rgba(48, 61, 85, 0.5);
                color: #fff;
                padding: 7px;
                border-radius: 5px;
            }
            img {
                display: block;
                width: 100%;
            }
            &:hover {
                cursor: move;
            }
        }
        .box-highlight {
            border: 1px dashed #ddd;
            display: block;
            height: 150px;
            margin-bottom: 10px;
        }
    }
}
