$enable-flex:               true;
$enable-grid-classes:       true;
@import '../../../bootstrap/scss/bootstrap.scss';


.table {
    .item {
        .thumbnail {
            position: relative;
            width: 70px;
            height: 70px;
            img {
                width: 100%;
                border-radius: 5px;
            }
        }
        .detail {
            margin-left: 10px;
            .product {
                font-size: 16px;
                font-weight: bolder;
            }
            .comment {
                font-size: 14px;
                color: #aaa;
                white-space: wrap;
                overflow: hidden;
                width: 1000px;
            }
            .category {
                font-size: 14px;
                color: #aaa;
                ul {
                    li {
                        margin-right: 2px;
                        &::after {
                            content: '/';
                            margin-left: 5px;
                        }
                        &:last-child::after {
                            content: '';
                        }

                    }
                    
                }
            }
        }
    }
}

#manageModal {
    label {
        margin: 0px;
    }
}