@import "../../../bootstrap/scss/functions";
@import "../../../bootstrap/scss/variables";
@import "../../../bootstrap/scss/mixins";

/* reset */
.bootstrap-tagsinput {
    width: 100% !important;
}
.fr-box.fr-basic {
    width: 100%;
}
.error {
    margin-top: 2px;
    color: red;
    font-size: 11px;
    font-weight: bold;
    margin-left: 5px;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    background: #313e54;
    padding: 1px 8px;
    border-radius: 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "\f00d" !important;
    font-family: FontAwesome;
}


.add-item {
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .tab-content {
        padding-top: 10px;
        border-bottom: 1px solid #ddd;
    }

    // Attr
    .b-card {
        .b-body {
            // Category
            .category {
                margin-left: -15px;
                margin-right: -15px;
                .category-content {
                    .filter {
                        input {
                            border-radius: 0px;
                            &:focus,
                            &:active {
                                outline: none;
                                box-shadow: none;
                                border-color: #ddd;
                            }
                        }
                    }
                    .category-list {
                        
                        border: 1px solid #ddd;
                        height: 193px;
                        overflow: hidden;
                        overflow-y: scroll;
                        ul {
                            li {
                                display: flex;
                                align-items: center;
                                img {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                    padding: 5px;
                                }
                                a {
                                    display:flex;
                                    justify-content: space-between;
                                    padding: 5px;
                                    width: 100%;
                                    text-decoration: none;
                                    color: #3c4b64;
                                    border-bottom: 1px solid #ddd;
                                    &.active,
                                    &:hover {
                                        background-color: #ddd;
                                    }
                                    &.active::after {
                                        content: "\f00c" !important;
                                        font-family: FontAwesome;
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
            .product-image {
                .fileinput-button {
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 10px;
                    small {
                        margin-left: 5px;
                    }
                }
                .list {
                    ul {
                        display: flex;
                        width: 100%;
                        flex-flow: wrap;
                        li {
                            position: relative;
                            width: 180px;
                            margin-bottom: 10px;
                            border: 1px solid #ddd;
                            margin-right: 10px;
                            overflow: hidden;
                            @include media-breakpoint-down(xs) {
                                width: 135px;
                            }
                            &.box-highlight {
                                background: #303d54;
                                display: block;
                                height: 180px;
                                width: 180px;
                                opacity: .5;
                                @include media-breakpoint-down(xs) {
                                    width: 135px;
                                    height: 135px;
                                }
                            }
                            &:hover {
                                cursor: move;
                            }
                            .rank {
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                right: 0px;
                                top: 0px;
                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    text-decoration: none;
                                    width: 20px;
                                    height: 20px;
                                    padding: 10px;
                                    color: #fff;
                                    background: red;
                                    font-weight: bold;
                                    border-radius: 50%;
                                    &:hover {
                                        opacity: 0.5;
                                    }
                                }
                            }
                            .image {
                                width: 180px;
                                height: 180px;
                                @include media-breakpoint-down(xs) {
                                    width: 135px;
                                    height: 135px;
                                }
                                // 320
                                img {
                                    max-width: 100%;
                                    object-fit: contain;
                                }
                            }
                            .highlight {
                                position: absolute;
                                display: none;
                                left: 0px;
                                top: 0px;
                                padding: 2px 15px;
                                background: #303d54;
                                color: #fff;
                                font-size: 12px;
                                border-bottom-right-radius: 5px;
                                &.active {
                                    display: block;
                                }
                            }
                        }
                    }
                    
                }
            }
            // Attr
            .attribute {
                .items {
                    margin: 15px;
                    border: 1px solid #ddd;
                    .header {
                        display: flex;
                        border-bottom: 1px solid #ddd;
                        padding: 10px;
                        background: #ddd;
                        .name {
                            font-weight: bold;
                        }
                        .tools {
                            margin-left: auto;
                            ul {
                                display: flex;
                                list-style: none;
                                margin: 0px;
                                padding: 0px;
                                li {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                    .body {
                        padding: 12px;
                    }

                    .footer {
                        display: none;
                        margin: 15px;
                    }

                }
            }
        }
    }

} 


