#productList {
    .card {
        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                display: flex;
                align-items: center;
                font-size: 16px;
                i {
                    margin-right: 10px;
                    font-size: 22px;
                }
            }
        }
        .card-body {
            .table-tabs {
                .nav {
                    li {
                        a {
                            display: block;
                            padding: 10px 20px;
                            text-decoration: none;
                            color: #4F5D73;
                            border: 1px solid #ddd;
                            border-bottom-color: transparent;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            margin-right: 5px;
                            &.active {
                                background: #3c4b64;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            
            .tab-content {
                border: 1px solid #ddd;
                padding: 10px;
                .table {
                    width: 100%;
                    .product {
                        display: flex;
                        .thumbnail {
                            width: 80px;
                            height: 80px;
                            margin-right: 10px;
                            img {
                                width: 100%;
                            }
                        }
                        .detail {
                            a {
                                display: block;
                                text-decoration: none;
                                color: #4F5D73;
                                margin-bottom: 10px;
                                span {
                                    display: block;
                                    &.product-name {
                                        font-size: 14px;
                                    }
                                    &.sku {
                                        font-size: 13px;
                                        color: #f9b115;
                                    }
                                }
                            }
                            .category {
                                ul {
                                    display: inline-flex;
                                    li {
                                        font-size: 12px;
                                        color: #888;
                                        &:after {
                                            content: '/';
                                            margin-left: 5px;
                                            margin-right: 5px;
                                        }
                                        &:last-child:after {
                                            content: '';
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Reset
    // .dataTables_wrapper
    // .dataTables_paginate
    // .paginate_button.current, 
    // .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    //     background: transparent !important;
    //     border-color: #ddd;
    //     padding: 5px 20px;
    
        
    // }
    // .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    //     color: #888 !important;
    // }
    
}