$main-color: #ff2d3b;
#orderDetail {
    .card {
        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                display: flex;
                align-items: center;
                font-size: 16px;
                i {
                    margin-right: 10px;
                    font-size: 22px;
                }
            }
        }
        .card-body {
            .reference-detail {
                .logs {
                    display: none;
                }
                .order {
                    width: 100%;
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    span {
                        display: block;
                    }
                    .left {
                        .order-id {
                            color: $main-color;
                            font-weight: bolder;
                        }
                        .order-last-status {
                            display: inline;
                            span {
                                display:inline;
                            }
                        }
                    }
                    .right {
                        display: flex;
                        flex-direction: column;
                        align-items: right;
                        span {
                            display: inline-block;
                        }
                    }
                }
                .order-detail {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    h5 {
                        font-weight: bolder;
                    }
                    span {
                        display: block;
                    }
                }
                .table-responsive {
                    .table {
                        .image {
                            width: 90px;
                            img {
                                width: 100%;
                            }
                        }
                        .product-detail {
                            .name {
                                font-weight: bolder;
                                font-size: 14px;
                            }
                            .detail {
                                padding-top: 10px;
                            }
                        }
                    }
                    &.canceled-text {
                        position: relative; 
                        .canceled {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            z-index: 999;
                            h1 {
                                font-size: 50px;
                            }
                        }
                        .table {
                            opacity: 0.5;
                        }
                    }
                }   
            }
        }
    }
}