
// reset daterangepicker
.daterangepicker {
    .left {
        border-right: 1px solid #ddd;
    }
    .calendar-table {
        .table-condensed {
            tr {
                display: block;
                margin-bottom: 5px;
                td.disabled {
                    color: #C0C4CC;
                    background-color: #F5F7FA;
                    text-decoration: none;
                    border-radius: 0px;
                }
            }
        }
    }
    .drp-buttons {
        span {
            display: none;
        }
        .applyBtn {
            border-color: #ddd;
            background-color: transparent;
            color: #888;
        }
    }
}
#orderList {
    .card {
        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                display: flex;
                align-items: center;
                font-size: 16px;
                i {
                    margin-right: 10px;
                    font-size: 22px;
                }
            }
        }
        .card-body {
            .table-tabs {
                .nav {
                    li {
                        a {
                            display: block;
                            padding: 10px 20px;
                            text-decoration: none;
                            color: #4F5D73;
                            border: 1px solid #ddd;
                            border-bottom-color: transparent;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            margin-right: 5px;
                            &.active {
                                background: #3c4b64;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            
            .tab-content {
                border: 1px solid #ddd;
                padding: 10px;
                .card-toolbar {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px 0px;
                    .search-toolbar {
                        width: 500px;
                    }
                    .right {
                        display: flex;
                        align-items: center;
                        .date-toolbar {
                            .daterange-show {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 350px;
                                height: calc(1.5em + 0.75rem + 2px);
                                padding: 0.375rem 0.75rem;
                                font-size: 0.875rem;
                                font-weight: 400;
                                line-height: 1.5;
                                background-clip: padding-box;
                                border: 1px solid;
                                color: #768192;
                                background-color: #fff;
                                border-color: #d8dbe0;
                                border-radius: 0.25rem;
                                transition: border-color 0.15s;
                                .date {
                                    position: relative;
                                    width:145px;
                                    border: 0px;
                                    border-top: 1px solid #ddd;
                                    border-bottom: 1px solid #ddd;
                                    border-radius: 0px;
                                    &:focus {
                                        outline: none;
                                        box-shadow:none;
                                    }
                                }
                                span::after {
                                    content: '-'
                                }
                                a {
                                    width: 20px;
                                    display:none;
                                    text-decoration: none;
                                    color: #768192;
                                }
                                &:hover > a {
                                    display: inline-block;
                                }
                            }
                        }
                        .button {
                            margin-left: 10px;
                        }
                    }
                }
                
            }
        }
    }
}