.verify {
    margin-bottom: 10px;
}
.verify .header {
    background: #313e54;
    color: #fff;
    padding: 7px;
}
.verify .header h5 {
    margin-bottom: 0px;
}

.verify .body {
    background: #f5f5f5;
    padding: 12px;
}
.verify .body label {
    display: block;
    /* margin: 0px; */
    font-size: 15px;
}
.verify .body label span {
    font-weight: bold;
}

.address > .row {
    margin-left: -15px !important;
    margin-right: -15px !important;
}
